
/* Balises native CSS */

header {
  background-image: url('../medias/vitrine-boulanger-pain-commerce.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 108px 30px;
  font: 400 25px/1 Roboto, sans-serif;
  border: 3px solid #000;
}

main {
  background-color: #FFF0DA;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

section {
  max-width: 1164px;
  width: 100%;
  margin-left: 34px;
  margin-right: 34px;
}

footer {
  background-color: #71452c;
  display: flex;
  align-items: center;
  gap: 40px 60px;
  overflow: hidden;
  color: #151515;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  font: 400 20px/19px Roboto, sans-serif;
  border: 3px solid #000;
}

/*Classes custom */

/*header*/

.diviseur {
  max-width: 95%;
  width: 95%;
}

.header-content {
  border-radius: 24px;
  background-color: #f2f2f2cc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #000;
}

.logo {
  object-position: center;
  width: 12.5%;
  min-width: 150px;
  border-radius: 24px;
  align-self: stretch;
}

.navigation {
  width: 87.5%;
  display: flex;
  justify-content: space-around;
}

.nav-button {
  align-self: stretch;
  border-radius: 12px;
  background-color: #9F6848;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  gap: 10px;
  white-space: nowrap;
  margin: auto 0;
  padding: 10px 20px;
  border: 3px solid #151515;
  color: #f2f2f2;
}

.nav-button:hover {
  background-color: #71452c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.loyalty-button {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff0da;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  gap: 10px;
  color: #151515;
  margin: auto 0;
  padding: 10px 20px;
  border: 3px solid #151515;
}

.loyalty-button:hover {
  background-color: #CEBEA7;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

/* presentation boulangerie */

.carousel-border{
  border: 30px #151515;
  border-radius: 24px;
}
.carousel{
  border: 30px #151515;
}
.carousel-indicators{
  display: flex;
  justify-content: center;
  gap: 20px;

  .active{
    background: #151515;
    color: #CEBEA7;
    border-radius: 24px;
  }
}
.icon-carousel{
  font-size: 30px;
}

.section-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: "Seaweed Script", cursive;
  padding: 5%;
}

.content-container{
  display: flex;
  justify-content: center;
  padding-bottom: 4vh;
}
.content-box{
  background-color: #f2f2f2cc;
  font: 20px Roboto, sans-serif;
  border: 3px solid #000;
  border-radius: 24px;
  width: 100%;
  padding: 20px;
}

.image-row{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 50px;
  gap: 12px;
}
.image-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.gallery-image{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 576px;
  height: 100%;
  object-fit: cover;
  border: 3px solid #000;
  border-radius: 24px;
}

.contact-form{
  display: flex;
  justify-content: center;

}
form{
  background-color: #f2f2f2cc;
  padding: 50px;
  border: 3px solid #000;
  border-radius: 24px;
  font-size: 20px;
}

.form-control{
  margin-bottom: 15px;
  font-size: 20px;
  color: grey;
}

.btn-formulaire{
  background-color: #9F6848;
  color: #f2f2f2;
  font-size: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-formulaire:hover{
  background-color: #71452c;
  color: #f2f2f2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.copyright-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barre-separation{
  border: 2px solid #9F6848;
  width: 100%;
}
/* Ids custom */